extends layouts/layout-dashCliente.pug
block content
  
  .col.s12
    .card(style='border-radius: 10px;background-color: #444444;')
    .card-content.center
      img#pv_categoriaImg.img-carricel(src='https://scontent.fscx1-1.fna.fbcdn.net/v/t1.0-9/120090097_2060135830786748_947884960745735996_n.jpg?_nc_cat=108&ccb=2&_nc_sid=09cbfe&_nc_ohc=2Kt0Sz0IJP8AX8ye2mi&_nc_ht=scontent.fscx1-1.fna&oh=673823c32cd8759041725924e3cdbf4b&oe=5FBD4C13' ,='' style='width:200px;height: 200px;border-radius:10px ')
  .col.s12(style='padding: 0 2rem 2rem;')
    h4.white-text.center Informacion Basica
    .card(style='background-color: #666666;border-radius:10px')
      .card-content.white-text(style='padding:1rem 2rem;')
        ul.collection.p-0.m-0
          li.collection-item
            small
             span.center Nombre:
            p Juan Perez Prado
          hr

          li.collection-item
            small
              span Email:
            p standard@example.com
          hr

          li.collection-item
            small
              span Telefono:
            p xxx-xxx-xxx
          hr

          li.collection-item
            small
              span Fecha de nacimiento:
            p 25-Mayo-2000
          hr

          li.collection-item
            small
              span Colonia:
            p Fracc. Los Tamarindos
          hr

          li.collection-item
            small
              span Calle:
            p Manzanares
          hr

          li.collection-item
            small
              span Municipio:
            p Salina Cruz
          hr

          li.collection-item
            small
              span Ciudad:
            p Salina Cruz
          hr
            
          
          .col.s6(style='margin-left: -10px')
            li.collection-item
              small
                span Num. Ex.:
              p #3
            hr
            
          .col.s6
            li.collection-item
              small
                span Num. Ex.:
              p #3
            hr

          .col.s6(style='margin-left: -10px')
            li.collection-item
              small
                span Estado:
              p Oaxaca
            hr

          .col.s6
            li.collection-item
              small
                span C.P.:
              p 70760
            hr

    
    //- a.btn.col.s8.offset-s2(href='socio' style='border-radius: 10px; background-color: #dd1917; margin-bottom: 12px;')
    //-   i.material-icons.left assignment_turned_in  
    //-   | Afiliarse
