extends layouts/layout-dash.pug
block content 
    .row
        .col.m12.s12
            h5.white-text.center Afiliados
        .col.m8.offset-m2.center
            table.striped
                thead.white-text
                    tr
                    th.center.red.accent-4 Folio
                    th.center.red.accent-4 Nombre(s)
                    th.center.red.accent-4 Telefono
                    
                tbody
                each agremiado in agremiados
                    tr
                    td.yellow.lighten-4.center 
                        a(href=`/home-afi?id=${agremiado.id}&nombre=${agremiado.data.nombre}&apellido_p=${agremiado.data.apellido_p}&apellido_m=${agremiado.data.apellido_m}&calle=${agremiado.data.calle}&colonia=${agremiado.data.colonia}&ciudad=${agremiado.data.ciudad}&cp=${agremiado.data.cp}&curp=${agremiado.data.curp}&especialidad=${agremiado.data.especialidad}&estado=${agremiado.data.estado}&fecha_nacimiento=${agremiado.data.fecha_nacimiento}&municipio=${agremiado.data.municipio}&num_ext=${agremiado.data.num_ext}&num_int=${agremiado.data.num_int}&rfc=${agremiado.data.rfc}&seguro_social=${agremiado.data.seguro_social}&telefono_1=${agremiado.data.telefono_1}&email=${agremiado.data.email}` )= agremiado.data.folio
                    td.yellow.lighten-4.center= agremiado.data.nombre + " " + agremiado.data.apellido_p + " " + agremiado.data.apellido_m
                    td.yellow.lighten-4.center= agremiado.data.telefono_1