extends layouts/layout-dash.pug
block content
  | cliente
  style.
    .collection .collection-item{
      margin-top: 12px;
      border-bottom: 3px solid #b71c1c !important;
    }
  .col.s12
    .card(style='border-radius: 10px;background-color: #444444;')
    .card-content.center
      img#pv_categoriaImg.img-carricel(src='https://scontent.fscx1-1.fna.fbcdn.net/v/t1.0-9/120090097_2060135830786748_947884960745735996_n.jpg?_nc_cat=108&ccb=2&_nc_sid=09cbfe&_nc_ohc=2Kt0Sz0IJP8AX8ye2mi&_nc_ht=scontent.fscx1-1.fna&oh=673823c32cd8759041725924e3cdbf4b&oe=5FBD4C13' ,='' style='width:200px;height: 200px;border-radius:10px ')
  .col.s12(style='padding: 0 2rem 2rem;')
    h4.white-text.center Informacion Basica
    .card(style='background-color: #666666;border-radius:10px')
      .card-content.white-text(style='padding:1rem 2rem;')
        ul.collection.p-0.m-0
          li.collection-item
            span.center Nombre:
            p fulano perengano merengano


          li.collection-item
            span Codigo Postal:
            p 70610

          li.collection-item
            span Estado:
            p Oaxaca

          li.collection-item
            span Municipio:
            p Salina cruz

          li.collection-item
            span Ciudad:
            p Salina cruz

          li.collection-item
            span Colonia:
            p Hugo mayoral

          li.collection-item
            span Calle:
            p And 16 de octubre


          li.collection-item
            span Numero Exterior:
            p n3


          li.collection-item
            span Fecha de nacimiento:
            p 10-AGOSTO-1995


          li.collection-item
            span Email:
            p admin@algo.com

          li.collection-item
            span telefono:
            p XXX XXX-XXXX

    h4.white-text.center Informacion Laboral
    .card(style='background-color: #666666;border-radius:10px')
      .card-content.white-text(style='padding:1rem 2rem;')
        ul.collection.p-0.m-0
          li.collection-item
            span Domicilio:
            p Domicilio conocido

          li.collection-item
            span Codigo postal:
            p 70610

          li.collection-item
            span Numero telefonico:
            p 123 123-1231

          li.collection-item
            span Conocimientos:
            p electricidad,fontaneria,etc
    //- a.btn.col.s8.offset-s2(href='socio' style='border-radius: 10px; background-color: #dd1917; margin-bottom: 12px;')
    //-   i.material-icons.left assignment_turned_in  
    //-   | Afiliarse
