extends layouts/layout-dash.pug
block content 
    .row
        .col.m12.s12
            h5.white-text.center Afiliados
        .col.m8.offset-m2.center
            table.striped
                thead.white-text
                    tr
                    th.center.red.accent-4 Folio
                    th.center.red.accent-4 Nombre(s)
                    th.center.red.accent-4 Telefono
                    
                tbody
                each agremiado in agremiados
                    tr
                    td.yellow.lighten-4.center= agremiado.folio
                    td.yellow.lighten-4.center= agremiado.nombre + " " + agremiado.apellido_p + " " + agremiado.apellido_m
                    td.yellow.lighten-4.center= agremiado.telefono_1