extends layout-home.pug
block content
  .row
    .col.s12.p-0
      a.btn.col.s12(href='/' style='border-radius: px; background-color: #dd1917;margin-bottom: 20px;')
        i.material-icons.left chevron_left
        | Volver
    .col.s5
      img.circle(src='static/img/images.jpeg',style='width:150px; height:150px;' , id='pv_categoriaImg')
    .col.s7
      ul.collection
        li.collection-item 
          |Ramiro suarez jimenez
        li.collection-item
          |25 años
        li.collection-item salina cruz, oaxaca
        li.collection-item correo@lgo.com
        li.collection-item 971-xxx-xxxx