extends layouts/layout.pug
block content
  .row.m-0(style='background: #ec3642;')
    .col.s12.p-0
      ul.collapsible.m-0(style='border:none !important;margin-top: 10px;')
        li
          .col.s10
            .col.s4
              a(href='/')
                img.logo(src='../static/img/logo.png')
            .col.s8.l4.offset-l1.titulo
              //- h5.center.white-text= datos[0].name
              h5.center.white-text CATEM TEHUANTEPEC 
              p.center.white-text #fuerzacatem
          .collapsible-header.transparent.col.s2.titulo1(style='border:none; ')
            a(href='#' style='border: none; ')
              i.center.material-icons.m-0.black-text(style='') menu
          .col.s12.collapsible-body.transparent.p-0
            span
              .collection
                a.white-text.collection-item(href='/') NOSOTROS
                a.white-text.collection-item(href='/') CONOCE TUS DERECHOS
                a.white-text.collection-item(href='/') GALERIA
                a.white-text.collection-item(href='/') DIRECTORIO
                a.white-text.collection-item(href='/') CONTACTO
              //-   .card(style='background:#272727').white-text.p-0
              //-     .card-content.center(style='padding: 24px 24px 0;')
              //-       h6.m-0 Se parte del equipo CATEM TEHUANTEPEC 
              //-       h6.m-0 Ingrese a su cuenta o registrese
              //-     .card-action.center.col.s12(style='border-top:none') 
              //-       .row
                    
              //-         a(href='/sign-in' style='border-radius:10px').btn.red
              //-           i.material-icons.left login
              //-           | Ingresar
              //-         a(href='/sign-up' style='margin-left: 10px; border-radius:10px').btn.amber.accent-4
              //-           i.material-icons.left account_box
              //-           | Crear cuenta
              //- if isLogged
              //-   .card(style='background:#272727').white-text.p-0.m-0
              //-     .card-content.center(style='padding: 24px 24px 0;')
              //-       h6.m-0 Buscas un servicio o Quieres darte a conocer  
                    
              //-     .card-action.center.col.s12(style='border-top:none') 
              //-       .row
              //-         //- a(href='/frm-agr'   style='border-radius:10px').btn.red
              //-         //-   i.material-icons.left login
              //-         //-   | Solicita
              //-         a(href='/add-afi' style='margin-left: 10px; border-radius:10px').btn.amber.accent-4
              //-           i.material-icons.left account_box
              //-           | Unete
              //- else

  .carousel.carousel-slider
    .carousel-item.imagen(href='#one!')
      img.img-carricel(src='../static/img/1.webp' )
    .carousel-item.imagen(href='#two!' )
      img.img-carricel(src='../static/img/2.webp' )
    .carousel-item.imagen(href='#three!')
      img.img-carricel(src='../static/img/3.jpeg' )
    .carousel-item(href='#four!')
      img.img-carricel(src='../static/img/4.jpeg' )
  .row(style='margin-bottom: 0 !important;background:#222222;padding:0px 15px')
    .col.s12
      h4.center.white-text()  Directorio de Colaboradores
      .col.s12(style='border-radius:10px; /*padding: 20px 10px*/; margin-bottom: 20px;/*background:#666666 !important;*/')
        form(action='')
          .input-field.white.buscador(style='border-radius:10px; padding: 8px 16px')
            input#search(type='text' required='' placeholder='¿Que necesitas?' style='margin-bottom: 10px;width: 95%;padding-left: 12px;')
          .col.s6.offset-s3.center
            button.btn.red.center(type='submit' name='action' style='border-radius:10px; ' )
              i.left.material-icons search
              | Buscar
  .row(style='background:#444444;margin-bottom: auto;')
    h4.center.z-depth-0.m-0.white-text(style='text-transform: capitalize;padding-top:10px;') servicios 
    ul.collapsible.buscador(style='margin: 18px 18px;border:none;')
      li
        .collapsible-header.z-depth-0.p-0(style='border-radius:10px;')
          .col.s12(style='hegith:70px')
            h5.center.m-0(style='padding:16px') Maquinaria y Equipo de construcción
        .collapsible-body.z-depth-0.p-0
          span
            .collection
              a.collection-item(href='#!') retroexcavadora
              a.collection-item(href='#!') pavimentadora
              a.collection-item(href='#!') tractores
              a.collection-item(href='#!') motoniveladora
    ul.collapsible.buscador(style='margin: 18px 18px;')
      li
        .collapsible-header.z-depth-0.p-0
          .col.s12(style='hegith:70px')
            h5.center.m-0(style='padding:16px') Mano de obra general
        .collapsible-body.z-depth-0.p-0
          span
            .collection
              a.collection-item(href='#!') carpintero.
              a.collection-item(href='#!') albañil.
              a.collection-item(href='#!') soldador.
              a.collection-item(href='#!') Lorem, ipsum dolor.