extends layout.pug
block content
  .row.m-0(style='background: #ec3642;')
    .col.s12.p-0
      ul.collapsible.m-0(style='border:none !important;margin-top: 10px;')
        li
          .col.s10
            .col.s4
              a(href='/')
                img(src='../static/img/logo.webp')
            .col.s8
              h5.center.white-text CATEM MEXICO
              p.center.white-text #fuerzacatem
          .collapsible-header.transparent.col.s2(style='margin-top:10px; border:none; ')
            a(href='#' style='border: none; ')
              i.center.material-icons.m-0.black-text(style='') menu
          .col.s12.collapsible-body.transparent.p-0(style='border: 1px solid red;')
            span
              .collection
                a.white-text.collection-item(href='#!') NOSOTROS
                a.white-text.collection-item(href='#!') CONOCE TUS DERECHOS
                a.white-text.collection-item(href='#!') GALERIA
                a.white-text.collection-item(href='#!') DIRECTORIO
                a.white-text.collection-item(href='#!') CONTACTO
  .carousel.carousel-slider
    .carousel-item.imagen(href='#one!')
      img.img-carricel(src='../static/img/1.webp' )
    .carousel-item.imagen(href='#two!' )
      img.img-carricel(src='../static/img/2.webp' )
    .carousel-item.imagen(href='#three!')
      img.img-carricel(src='../static/img/3.jpeg' )
    .carousel-item(href='#four!')
      img.img-carricel(src='../static/img/4.jpeg' )
  .row(style='margin-bottom: 0 !important;background:#222222;padding:0px 15px')
    .col.s12
      p.center.white-text()  directorio de colaboradores
      .col.s12(style='border-radius:10px; padding: 20px 10px; margin-bottom: 20px;background:#666666 !important;')
        form(action='')
          .nav-wrapper.white(style='padding: 1px 0 !important; margin-bottom: 12px;border-radius:10px;')
            .input-field
              input#search(type='search' required='')
              label.label-icon(for='search')
                i.material-icons search
          .white(style='border-radius:10px;')
            select(style='border-radius:10px;')
              option.center(value='' disabled='' selected='') Choose your option
              option(value='1') Option 1
              option(value='2') Option 2
              option(value='3') Option 3
          .col.s6.offset-s3.center
            button.btn.red.center(type='submit' name='action')
              | Buscar
  .row(style='background:#444444;margin-bottom: auto;')
    h4.center.z-depth-0.m-0 Categorias
      ul.collapsible(style='margin: 18px 18px;border:none')
        li
          .collapsible-header.z-depth-0.p-0(style='border-radius:10px;')
            .col.s12
              p.center.m-0 Desarrollo
          .collapsible-body.z-depth-0.p-0
            span
              .collection
                a.collection-item(href='#!') Lorem, ipsum dolor.
                a.collection-item(href='#!') Lorem, ipsum dolor.
                a.collection-item(href='#!') Lorem, ipsum dolor.
                a.collection-item(href='#!') Lorem, ipsum dolor.
      ul.collapsible(style='margin: 18px 18px;')
        li
          .collapsible-header.z-depth-0.p-0
            .col.s12
              p.center.m-0 Desarrollo
          .collapsible-body.z-depth-0.p-0
            span
              .collection
                a.collection-item(href='#!') Lorem, ipsum dolor.
                a.collection-item(href='#!') Lorem, ipsum dolor.
                a.collection-item(href='#!') Lorem, ipsum dolor.
                a.collection-item(href='#!') Lorem, ipsum dolor.

