extends layouts/layout-dashCliente.pug
block content
  .row
    .col.s12
      .card
        .col.s12
          .col.s12(style="display: flex;/* justify-content: center; */align-items: center;")
            .col.s10
              h5 Noticaciones
            .col.s2.p-0
              a(href="" style="border = 1px solid red" ) 
                <i class="material-icons" >chevron_left</i>
              a(href="")
                <i class="material-icons" >chevron_right</i>
          .col.s12
            h5 Lorem ipsum dolor sit.
            span Lorem ipsum dolor sit amet.
        .card-content : 
          lo que seads