html{
  height: 100%;
 
  
}


.p-0{
  padding: 0 !important;
}

.carousel{
  height: 200px !important;
}

.m-0{
  margin: 0PX;
}

.piePagina {
  background-color: black;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  color: white;
  
}


.collapsible-body{
  padding: 0;
}

.collection .collection-item{
  background-color: transparent;
}

.img-carricel{
  background-size: cover;
  height: 50%;
}

.collapsible-header i{
  font-size: 3em;
}

.collapsible{
  border:none
}

.collapsible-header{
  border-radius:10px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

legend{
 font-size: 14px; 
}